# Create supersite locations list
## create list of all potential supersite venues
- Standardize supersite venue names (e.g. "Boulder HS")
- Standardize supersite columns
    - venue (standard name of site, e.g. "Boulder HS")
    - ssid (unique code for venue)
    - address
    - organization (name of organization that owns venue)
    - geometry (geopandas geometry column, e.g. Point (-105.345678,40.123456))
    - lat (latitude)
    - lon (longitude)
- Combine lists of known supersites
    - 2024 supersites
    - 2024 alternate supersites
    - 2020 supersites
- Save Supersite list to file or database
    - supersite_venues.geojson
    - supersite_venues.xlsx

## Create 2024 Supersite locations file
- Read Judi's file: data/2024_Supersite_list w Chairs & Cochairs.xlsx
- Add geolocations for each Supersite
- Write supersite locations geojson for map

In [34]:
import numpy as np
import pandas as pd
import geopandas as gpd

import supersites as ss

## create list of all potential supersites
- Standardize supersite names
- Standardize supersite columns
- Combine lists of known supersites
    - 2024 supersites
    - 2024 alternate supersites
    - 2020 supersites

In [35]:
# get list of 2024 supersites: ss_short_2024.geojson
ss2024 = gpd.read_file('data/ss_short_2024.geojson', driver='GEOJSON')

# get list of other potential supersites ss_short_2024_alternate.geojson
ssalt = gpd.read_file('data/ss_short_2024_alternate.geojson', driver='GEOJSON')

# combine all rows in ss2024 and ssalt
ssall = pd.concat([ss2024, ssalt]).sort_values('Venue').reset_index(drop=True)

# add lat and lon columns to ssall
ssall[['lat', 'lon']] = np.NaN

ssall.info()
ssall

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Venue     27 non-null     object
 1   geometry  27 non-null     geometry
 2   lat       0 non-null      float64
 3   lon       0 non-null      float64
dtypes: float64(2), geometry(1), object(1)
memory usage: 992.0+ bytes

                      Venue                     geometry  lat  lon
0   Allenspark Fire Station  POINT (-105.52791 40.19713)  NaN  NaN
1                 Altona MS  POINT (-105.16262 40.14448)  NaN  NaN
2               Angevine MS  POINT (-105.10336 39.98956)  NaN  NaN
3                Boulder HS  POINT (-105.27287 40.01412)  NaN  NaN
4             Burlington ES  POINT (-105.09455 40.15677)  NaN  NaN
5                  Casey MS  POINT (-105.27916 40.02287)  NaN  NaN
6              Centaurus HS  POINT (-105.11253 39.98636)  NaN  NaN
7             Centennial MS  POINT (-105.26715 40.04507)  NaN  NaN
8              Eldorado K-8  POINT (-105.16118 39.92174)  NaN  NaN
9   Eldorado Sp. Fire House  POINT (-105.24931 39.94266)  NaN  NaN
10                  Erie MS  POINT (-105.05297 40.05102)  NaN  NaN
11            Frasier Mead.  POINT (-105.23388 39.99456)  NaN  NaN
12             Gold Hill ES  POINT (-105.41216 40.06314)  NaN  NaN
13          Indian Peaks ES  POINT (-105.11801 40.14327)  NaN  NaN
14             Jamestown ES  POINT (-105.38764 40.11483)  NaN  NaN
15            Longs Peak MS  POINT (-105.11752 40.18399)  NaN  NaN
16            Louisville MS  POINT (-105.13257 39.98412)  NaN  NaN
17                 Lyons MS  POINT (-105.26812 40.22575)  NaN  NaN
18             Manhattan MS  POINT (-105.22736 39.99410)  NaN  NaN
19              Monarch K-8  POINT (-105.14351 39.95143)  NaN  NaN
20             Nederland HS  POINT (-105.52334 39.95384)  NaN  NaN
21                 Niwot HS  POINT (-105.14424 40.10370)  NaN  NaN
22          Silver Creek HS  POINT (-105.16657 40.15137)  NaN  NaN
23        Southern Hills MS  POINT (-105.24523 39.97413)  NaN  NaN
24                Sunset MS  POINT (-105.11991 40.14458)  NaN  NaN
25          Timberline PK-8  POINT (-105.08573 40.18091)  NaN  NaN
26           Trail Ridge MS  POINT (-105.05762 40.17693)  NaN  NaN

In [36]:
ssall.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

## Compare ssall to supersites in 2024 supersite lists
- Read Judi's supersite spreadsheet
- Merge locations from ssall
- check for missing supersites
- create file of missing supersites
- add lat and lon columns for missing supersites
- create GeoDataFrame of missing supersites
- append missing supersites to ssall

In [37]:
# Read Judi's supersite file

supersite_input = 'data/2024_Supersite_list w Chairs & Cochairs.xlsx' # 1/13/2024
sheetname ='Recap SS & Precinct #s'

supersites = (ss.read_supersite_pct(supersite_input, sheetname)
              .assign(supersite=lambda df: df['supersite'].str.strip() )
)
supersites.info()
supersites

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   supersite          20 non-null     object
 1   dems               20 non-null     int64
 2   attendee_forecast  20 non-null     int64
 3   total_precincts    20 non-null     int64
 4   pctlist            20 non-null     object
dtypes: int64(3), object(2)
memory usage: 928.0+ bytes

,supersite,dems,attendee_forecast,total_precincts,pctlist
0,Allenspark Fire Station,155,4,1,[914]
1,Altona MS,7518,188,14,"[605, 606, 607, 608, 609, 610, 611, 614, 615, ..."
2,Boulder HS,7241,181,10,"[810, 817, 818, 820, 821, 828, 829, 831, 832, ..."
3,Burlington Elementary,3351,84,7,"[600, 601, 602, 603, 604, 612, 613]"
4,Casey MS,4696,117,7,"[822, 823, 824, 825, 826, 827, 910]"
5,Centaurus HS,11327,283,20,"[300, 301, 302, 303, 304, 305, 306, 307, 308, ..."
6,Centennial MS,8884,222,13,"[803, 804, 805, 806, 807, 811, 812, 813, 814, ..."
7,Eldorado K8,3303,83,8,"[003, 100, 101, 102, 103, 104, 105, 106]"
8,Erie MS,3936,98,9,"[400, 401, 402, 403, 404, 405, 406, 407, 408]"
9,Gold Hill School,308,8,1,[909]
10,Jamestown School,283,7,1,[913]
11,Longs Peak MS,6376,159,18,"[626, 627, 628, 629, 643, 644, 645, 646, 617, ..."
12,Lyons Middle Senior,2380,60,5,"[700, 701, 702, 915, 916]"
13,Manhattan MS,6193,155,13,"[004, 834, 835, 836, 837, 838, 839, 840, 841, ..."
14,Monarch HS,7185,180,13,"[200, 201, 202, 203, 204, 205, 206, 207, 208, ..."
15,Nederland HS,2198,55,6,"[901, 902, 903, 904, 905, 907]"
16,Niwot HS,8719,218,14,"[503, 504, 505, 506, 507, 508, 509, 510, 800, ..."
17,Southern Hills MS,8756,219,15,"[830, 843, 844, 845, 846, 847, 850, 851, 852, ..."
18,Trail Ridge MS,7028,176,17,"[002, 618, 619, 620, 621, 622, 623, 633, 634, ..."
19,Ward Private Home,168,4,1,[908]

## add locations for each 2024 supersite
- add supersite location geometry column to supersites

In [38]:
# merge supersites DataFrame with ssall GeoDataFrame

ss_locations = pd.merge(supersites, ssall, left_on='supersite', right_on='Venue', how='outer')
ss_locations.info()
ss_locations

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   supersite          20 non-null     object
 1   dems               20 non-null     float64
 2   attendee_forecast  20 non-null     float64
 3   total_precincts    20 non-null     float64
 4   pctlist            20 non-null     object
 5   Venue              27 non-null     object
 6   geometry           27 non-null     geometry
 7   lat                0 non-null      float64
 8   lon                0 non-null      float64
dtypes: float64(5), geometry(1), object(3)
memory usage: 2.5+ KB

,supersite,dems,attendee_forecast,total_precincts,pctlist,Venue,geometry,lat,lon
0,Allenspark Fire Station,155.0,4.0,1.0,[914],Allenspark Fire Station,POINT (-105.52791 40.19713),NaN,NaN
1,Altona MS,7518.0,188.0,14.0,"[605, 606, 607, 608, 609, 610, 611, 614, 615, ...",Altona MS,POINT (-105.16262 40.14448),NaN,NaN
2,Boulder HS,7241.0,181.0,10.0,"[810, 817, 818, 820, 821, 828, 829, 831, 832, ...",Boulder HS,POINT (-105.27287 40.01412),NaN,NaN
3,Burlington Elementary,3351.0,84.0,7.0,"[600, 601, 602, 603, 604, 612, 613]",NaN,None,NaN,NaN
4,Casey MS,4696.0,117.0,7.0,"[822, 823, 824, 825, 826, 827, 910]",Casey MS,POINT (-105.27916 40.02287),NaN,NaN
5,Centaurus HS,11327.0,283.0,20.0,"[300, 301, 302, 303, 304, 305, 306, 307, 308, ...",Centaurus HS,POINT (-105.11253 39.98636),NaN,NaN
6,Centennial MS,8884.0,222.0,13.0,"[803, 804, 805, 806, 807, 811, 812, 813, 814, ...",Centennial MS,POINT (-105.26715 40.04507),NaN,NaN
7,Eldorado K8,3303.0,83.0,8.0,"[003, 100, 101, 102, 103, 104, 105, 106]",NaN,None,NaN,NaN
8,Erie MS,3936.0,98.0,9.0,"[400, 401, 402, 403, 404, 405, 406, 407, 408]",Erie MS,POINT (-105.05297 40.05102),NaN,NaN
9,Gold Hill School,308.0,8.0,1.0,[909],NaN,None,NaN,NaN
10,Jamestown School,283.0,7.0,1.0,[913],NaN,None,NaN,NaN
11,Longs Peak MS,6376.0,159.0,18.0,"[626, 627, 628, 629, 643, 644, 645, 646, 617, ...",Longs Peak MS,POINT (-105.11752 40.18399),NaN,NaN
12,Lyons Middle Senior,2380.0,60.0,5.0,"[700, 701, 702, 915, 916]",NaN,None,NaN,NaN
13,Manhattan MS,6193.0,155.0,13.0,"[004, 834, 835, 836, 837, 838, 839, 840, 841, ...",Manhattan MS,POINT (-105.22736 39.99410),NaN,NaN
14,Monarch HS,7185.0,180.0,13.0,"[200, 201, 202, 203, 204, 205, 206, 207, 208, ...",NaN,None,NaN,NaN
15,Nederland HS,2198.0,55.0,6.0,"[901, 902, 903, 904, 905, 907]",Nederland HS,POINT (-105.52334 39.95384),NaN,NaN
16,Niwot HS,8719.0,218.0,14.0,"[503, 504, 505, 506, 507, 508, 509, 510, 800, ...",Niwot HS,POINT (-105.14424 40.10370),NaN,NaN
17,Southern Hills MS,8756.0,219.0,15.0,"[830, 843, 844, 845, 846, 847, 850, 851, 852, ...",Southern Hills MS,POINT (-105.24523 39.97413),NaN,NaN
18,Trail Ridge MS,7028.0,176.0,17.0,"[002, 618, 619, 620, 621, 622, 623, 633, 634, ...",Trail Ridge MS,POINT (-105.05762 40.17693),NaN,NaN
19,Ward Private Home,168.0,4.0,1.0,[908],NaN,None,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,Angevine MS,POINT (-105.10336 39.98956),NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,Burlington ES,POINT (-105.09455 40.15677),NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,Eldorado K-8,POINT (-105.16118 39.92174),NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,Eldorado Sp. Fire House,POINT (-105.24931 39.94266),NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,Frasier Mead.,POINT (-105.23388 39.99456),NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,Gold Hill ES,POINT (-105.41216 40.06314),NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,Indian Peaks ES,POINT (-105.11801 40.14327),NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,Jamestown ES,POINT (-105.38764 40.11483),NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,Louisville MS,POINT (-105.13257 39.98412),NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,Lyons MS,POINT (-105.26812 40.22575),NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,Monarch K-8,POINT (-105.14351 39.95143),NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,Silver Creek HS,POINT (-105.16657 40.15137),NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,Sunset MS,POINT (-105.11991 40.14458),NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,Timberline PK-8,POINT (-105.08573 40.18091),NaN,NaN

In [40]:
# write ss_locations to excel file to add geolocations for missing venues
ss_locations.to_excel('data/ss_locations_outer.xlsx')

## add missing supersite geometries

In [ ]:
# get geometry for 2024 Supersites that are missing in ssall
ssmissing = pd.read_excel('data/ss_locations_missing.xlsx', sheet_name='missingVenues', skiprows=0,  ).dropna()


ssmissing.info()
ssmissing

In [ ]:
# create GeoDataFrame with missing supersites
ssmissinggdf = gpd.GeoDataFrame(ssmissing, geometry=gpd.points_from_xy(ssmissing['lon'], ssmissing['lat']), crs='EPSG:4326' )

ssmissinggdf.info()
ssmissinggdf

In [ ]:
ssmissinggdf.plot()

In [ ]:
# add new supersites to ssall

dropcols = ['Column1', 'supersite', 'dems',
       'attendee_forecast', 'total_precincts', 'pctlist']

ssall = pd.concat([ssall, ssmissinggdf]).drop(columns=dropcols).sort_values('Venue').reset_index(drop=True)

ssall.info()
ssall
# POINT(-105.10862252002309 40.1466293875446 )

In [ ]:
# add missing lat and long to ssall
ssall = ssall.assign(
    lon=ssall['geometry'].x,
    lat=ssall['geometry'].y
)

ssall

In [ ]:
# add columns google_map_name and google_map_url to ssall

In [ ]:
ssallgdf = gpd.GeoDataFrame(ssall, geometry='geometry', crs='EPSG:4326')

ssallgdf.info()

In [ ]:
ssallgdf.plot()

In [ ]:

ssallgdf.to_file('data/supersite_venues.geojson', driver='GeoJSON', index=False)

ssallgdf.to_excel('data/supersite_venues.xlsx')